# Real World Fake Data

In this project, I'll use a dataset from "Real World Fake Data", import it to MySQL Workbench, clean it and then analyze it. In the end, I'll use Tableau to visualize the data.

# Step 1: Importing the Data

The data I'm using is from [Real World Fake Data](https://data.world/markbradbourne/rwfd-real-world-fake-data/workspace/file?filename=Call+Center.csv) which is a website that contains very interesting datasets. The one I've chosen for this project is the "Call Center" dataset. 

The Call Center dataset has 32,941 rows and 12 columns that describes calls made to various call centers. The columns of the table are:
- id
- customer name
- sentiment
- csat_score
- call_timestamp
- reason
- city
- state
- channel
- response_time
- call_duration_in_minutes
- call_center

I've downloaded the Call Center datasetas a CSV file into my local drive and now we want to import it to MySQL Workbench. 

First, I'll start by creating a database to import that dataset to:

![Creating a Database](call_center_project1.jpeg)

I've created a database called _call_center_project_. Next, to get to work on a specific database we need to select it, and we do that with the keyword "USE":
![using a database](call_center_project2.jpeg)

After that, I need to create a table that fit the data and match it. Let's take a look at the call center dataset in order to understand better:

![csv snapshot](call_center_project3.jpeg)

The snapshot above displays that the data contain 12 columns (attributes). To load the data into a table in the database, I need to create a table that will match it like so:

![creating a table](call_center_project4.jpeg)

Here, I've created a table called "_calls_", and it's been designed in a way to fit our data by matching the columns and data types. Having the columns arranged by the same order in the CSV file is not that critical as it can be managed during importing. 

Now that I have the "calls" table and it i ready to be populated with data. The MySQL Workbench makes it easy for you ti import data into a specified table and use the "Table Data Import Wizard". 

![data import](call_center_project5.jpeg)

The snapshot above highlights an important step in importing the data into the "calls" table which is to match the columns of the CSV file to the table I've created. From the looks of it, all the columns seems to match well.

Let's make sure that importing the data into the "calls" went correctly by using the following SQL command:

![select statement](call_center_project6.jpeg)

The above statement will display all the columns in the table and limit the rows to only 10 of them. The result is as it shows in the below image:

![table](call_center_project7.jpeg)

From the resulting image, I can safely say that populating the "calls" table went smoothly. Now we can move to the second step which is cleaning the data.

## Step 2: Clean the Data

There are a little minor inconveniences in our data. In the first step when I imported the data, there were two small problems:
1. When I created the table, I've used the CHAR datatype for the call_timestamp instead of using the DATE and that is because in the CSV file, it is introduced in the mm-dd-yyyy format but in MySQL, the acceptable format is yyyy-mm-dd. Hence, using the CHAR data type instead of the DATE data type. 

2. In the csat_score column which means customer satisfaction score, there were empty values in the CSV file which are converted to 0 instead of null values which will lead to false statistics because the minimum score is 1 and not 0.

The steps of fixing both minor issues are as follows:
1. In order to fix the call_timestamp, I\ll use the  `str_to_date()` function and give it the colum and the way the date is formatted in it. The commands are shown in the below image:


![clean data](call_center_project8.jpeg)

Setting the SQL_SAFE_UPDATES off before changing the column will help in avoiding the need to specify a WHERE clause that uses a KEY column. That is why I set it off before the query and then turned it back on after the query. The resulting table after the query is shown in the image below:

![reult table](call_center_project9.jpeg)

The call_timestamp has been turned into a DATE data type successfully. Now for the second part of cleaning the data:
2. In the csat_score, I'd like to set all the values that were NULL in the CSV file into NULL as well in the "calls" table. It can be done through the following command shown in the below image:

![csat_score](call_center_project10.jpeg)

After I've executed the above commands, let's take a look at the resulting table:

![table](call_center_project11.jpeg)

Now that I've fixed the minor inconveniences, I can move to the third step which is exploratory data analysis.

## Step 3: Exploratory Data Analysis

In the Exploratory Data Analysis (EDA), the purpose is to perform investigations on the data to discover any patterns, anomalies, test hypothesis and check assumptions in order to gain any insights. 

I'll start by checking the shape of the table, i.e., the number of rows and columns. It is done as follows:

![eda1](call_center_project12.jpeg)

Running the first command results in the following:
    
![result1](call_center_project13.jpeg)

And the second line results in the following:

![result2](call_center_project14.jpeg)

From the following results, I conclude that we loaded all the data that was in the original CSV file which consists of 32,918 records and 12 columns. 

Let's check the distinct values of some of the columns in the table:

![distinct values](call_center_project15.jpeg)

Finding the different distinct values of each column gives you an idea of the type of information and categories that the column hold. For an example, the result of the first query is the following:

![sentiment distinct](call_center_project16.jpeg)

From the above image, it shows that the "sentiment" column has 5 distinct values.

Let's continue the exploration:

![eda2](call_center_project17.jpeg)

The above commands, if I run any of them, will provide a result that includes the different distinct values of a specific column, the count of each category and the overall percentage of that category. An example of such result is shown in the image below:

![eda result](call_center_project18.jpeg)

The image shows the 5 distinct values of the "sentiment" column and the count of each category and its percentage. It shows that most of the sentiments recieved are negative and a small percentage out of it are postives. 

I'll explore which day has the most calls using the following command shown below:

![calls](call_center_project19.jpeg)

The result of the above command is shown in the image below:

![calls1](call_center_project20.jpeg)

I can see that most calls occur on Friday with a count of 5566 and the least calls occur on Sunday with a count of 4292. 

I'll continue with the exploration and do some aggregation on the data:

![aggregations](call_center_project21.jpeg)

The picture above shows the aggergation commands that I've wrote in order to give us a sense and insight on the logest and shortest duration of a call for an example, or which day has the most calls and which day has less, such information can help in being better prepared and make more accurate measures when planning.

Let's see one of the results of these commands:
![aggregation result](call_center_project22.jpeg)

In the example shown above, I'm checking how many calls are within, above or below the Service Level Agreement time. I can see that Los Angeles/CA has the highest count of 8666 calls within SLA, 3327 calls below SLA and 1738 calls above SLA. 

That's it for the SQL cleaning and exploration, I'd like to create a little visualization that summarizes some of the insights that I've found during the EDA, and one of the most important tools in doing so is Tableau

## Step 4: Data Visualization Using Tableau

Tableau is a software that can help anyone see and understand their data. Connect to almost any database, drag and drop to create visualizations, and share with a click.

I've created a visualization that summarizes some of the information in the provided data. Here's an image that shows how it looks like:

![dashboard](call_center_dashboard.png)